* {
    font-family: 'Poppins', sans-serif;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}

.nav-title {
    font-weight: 700;
    font-size: 40px;
}

.top-nav {
    display: flex;
    margin-left: 100px;
    cursor: pointer;
}

.nav-img {
    height: 40px;
    width: 80px;
    margin-top: 50px;
    margin-right: 10px;
}

.nav-g {
    color: rgb(241, 44, 110);
}

.fa-youtube {
    color: red;
}

.right-nav>ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: baseline;
}

.right-nav li {
    margin-left: 50px;
    cursor: pointer;
}

.nav-follow {
    background-color: rgb(213, 213, 212);
    padding: 10px;
}

.right-nav i {
    margin-left: 10px;
}

.right-nav {
    justify-content: space-between;
    margin-right: 200px;
}

.goat-detail {
    background-image: url('../style/images/Group 14.png');
    background-repeat: no-repeat;
    width: 900px;
    height: 680px;
}

.play-goat {
    display: flex;
    justify-content: space-between;
}

.goat-grad {
    background-image: linear-gradient(to right, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 70px;
    font-weight: 700;
    margin-left: 150px;
    margin-top: -30px;
}

.goat-group {
    margin-right: 200px;
}

.sign-in {
    font-size: 15px;
    font-weight: 550;
    color: white;
    padding: 15px;
    border-radius: 25px;
    background-color: #FF42A5;
    border: 0;
    cursor: pointer;

}

.go-rogue {
    font-size: 15px;
    font-weight: 550;
    color: white;
    padding: 15px;
    border-radius: 25px;
    background-color: #4EC5F7;
    border: 0;
    cursor: pointer;
}

.go-rogue {
    margin-left: 15px;
}

.sign-in {
    margin-left: 150px;
    margin-top: 20px;
}

.like-goat {
    margin-top: 90px;
    margin-left: 150px;
}

.advantage {
    margin-left: 150px;
}

.know-gamer {
    background-color: #fff2f9;
    display: flex;
    justify-content: space-between;
}

.third-title {
    background-image: linear-gradient(to right, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    font-weight: 700;
}

.know-img {
    padding: 50px;
}

.know-us {
    text-align: right;
    margin-right: 200px;
}

.know-more {
    font-size: 15px;
    font-weight: 510;
    color: white;
    padding: 15px;
    border-radius: 25px;
    background-color: #FF42A5;
    border: 0;
    margin-top: 30px;
    cursor: pointer;
}

.third-para-02 {
    margin-top: 30px;
}

.fourth-title {
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
}

.forth-funny {
    background-image: linear-gradient(to right, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 45px;
    font-weight: 700;
    margin-top: 60px;
    text-align: left;
}

.fourth-para {
    text-align: center;
    margin-bottom: 50px;
}

.fourth-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fourth-img-01 {
    margin-right: 20px;
}

.fourth-img-02 {
    margin-right: 20px;
}

.fourth-img-03 {
    margin-right: 20px;
    position: relative;
    display: inline-block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    transition: opacity 0.5s;
}

.fourth-img-03:hover .overlay {
    opacity: 1;
}

.text-watch {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: #d1ff02;
}

.watch-icon {
    position: absolute;
    top: 30%;
    left: 45%;
    font-size: 50px;
    cursor: pointer;
}


.fifth-title {
    background-image: linear-gradient(to right, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.fifth-part {
    display: flex;
    margin-top: 200px;
    align-items: center;
    justify-content: center;
}

.twisted-image {
    position: relative;
    bottom: 250px;
}

.fifth-pera {
    text-align: right;
    margin-left: 400px;
    font-size: 20px;
    margin-right: 200px;
}

.rdr-02 {
    margin-left: 100px;
}

.btn-101 {
    display: flex;
}

.btn102 {
    display: flex;
    margin-top: 100px;
}

.btn-101 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn102 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sixth-btn-01 {
    background-color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    margin-right: 20px;
    border: none;
}
.sixth-part-grid{
    display: none;
}

.btn-img01 {
    margin-right: 15px;
}

.sixth-btn-01 {
    border: 2px solid white;
    background-color: transparent;
    transition: border-color 0.3s, color 0.3s;
    cursor: pointer;
}

.sixth-btn-01:hover {
    border-color: #FF42A5;
    color: #FF42A5;
}

.footer-img {
    height: 40px;
    width: 80px;
    margin-top: 50px;
    margin-right: 10px;
}

.footer-title {
    font-weight: 700;
    font-size: 40px;
}

.footer-stuff {
    background-color: #0B0223;
    color: white;
    height: 500px;

}

.footer-g {
    color: rgb(241, 44, 110);
}

.footer-contact {
    display: flex;
    justify-content: center;
}

.footer-nav {

    display: flex;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 20px;
}

.footer-contact-00 {
    margin-right: 50px;
}

.footer-social {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.footer-btn {
    background-color: transparent;
    border: none;
    transition: border-color 0.3s, color 0.3s;

}

.fa-twitter,
.fa-facebook,
.fa-linkedin-in,
.fa-instagram {
    color: white;
    font-size: 30px;
    margin-right: 50px;
    cursor: pointer;
}

.footer-policy {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.footer-policy-00 {
    margin-right: 50px;
}

.footer-copyright {
    display: flex;
    justify-content: center;
}

@media screen and (max-width:576px){
    .top {
        flex-direction: column;
    }

    .right-nav>ul {
        flex-direction: column;
        margin-left: 300px;
        margin-top: -30px;
    }

    .top-nav {
        margin-left: 250px;
    }

    .nav-follow {
        display: flex;
        width: 130px;
    }

    .right-nav li {
        margin-top: 30px;
        margin-left: 150px;
    }

    .play-goat {
        flex-direction: column;
    }

    .goat-detail {
        background-size: 630px 550px;
        margin-top: 40px;
    }

    .sign-in,
    .advantage,
    .goat-grad,
    .like-goat {
        margin-left: 150px;
    }

    .goat-group img {
        background-color: white;
        width: 600px;
        margin-left: 50px;
    }

    .know-gamer {
        background-color: white;
        flex-direction: column;
    }

    .know-img {
        padding: 10px;
        width: 630px;
    }

    .know-us {
        text-align: center;
        margin-right: -200px;
    }

    .fourth-title {
        font-size: 18px;
        margin-right: -250px;
    }

    .forth-funny {
        font-size: 30px;
        text-align: center;
    }

    .fourth-img {
        flex-direction: column;
        margin-left: 250px;
    }

    .fourth-para {
        margin-right: -250px;
    }

    .fourth-img img {
        width: 450px;
        margin-top: 30px;
    }

    .fourth-img p {
        text-align: center;
    }

    .fifth-part {
        flex-direction: column;
    }

    .fifth-pera {
        text-align: center;
        margin-left: 0;
        margin-right: -200px;
    }
    .doubl-twist{
        margin-left: 200px;
        margin-top: 70px;
    }
    .rdr-02 {
        width: 450px;
    }
    .twisted-image{
        width: 200px;
        bottom: 200px;
    }
    .sixth-part{
        display: none;
    }
    .sixth-part-grid{
        display: block;
  
    }
    .btn-container-grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        margin-left: 50px;
    }
    .footer-stuff{
        width: 650px;
        height: 600px;
    }
    .footer-contact{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-left: 80px;
    }
    .footer-policy{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 140px;
        margin-bottom: 30px;
    }

}