* {
    font-family: 'Poppins', sans-serif;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}

.nav-title {
    font-weight: 700;
    font-size: 40px;
}

.top-nav {
    display: flex;
    margin-left: 100px;
}

.nav-img {
    height: 40px;
    width: 80px;
    margin-top: 50px;
    margin-right: 10px;
}

.nav-g {
    color: rgb(241, 44, 110);
}

.right-nav>ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: baseline;
}

.right-nav li {
    margin-left: 50px;
}

.nav-follow {
    background-color: rgb(213, 213, 212);
    padding: 10px;
}

.right-nav i {
    margin-left: 10px;
}

.right-nav {
    justify-content: space-between;
}

.goat-detail {
    background-image: url('../style/images/Group 14.png');
    background-repeat: no-repeat;
    width: 900px;
    height: 680px;
}

.play-goat {
    display: flex;
    justify-content: space-between;
}

.goat-grad {
    background-image: linear-gradient(to right, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 70px;
    font-weight: 700;
    margin-left: 150px;
    margin-top: -30px;
}

.sign-in {
    font-size: 15px;
    font-weight: 550;
    color: white;
    padding: 15px;
    border-radius: 25px;
    background-color: #FF42A5;
    border: 0;

}

.go-rogue {
    font-size: 15px;
    font-weight: 550;
    color: white;
    padding: 15px;
    border-radius: 25px;
    background-color: #4EC5F7;
    border: 0;
}

.go-rogue {
    margin-left: 15px;
}

.sign-in {
    margin-left: 150px;
    margin-top: 20px;
}

.like-goat {
    margin-top: 90px;
    margin-left: 150px;
}

.advantage {
    margin-left: 150px;
}

.know-gamer {
    background-color: #fff2f9;
    display: flex;
    justify-content: space-between;
}

.third-title {
    background-image: linear-gradient(to right, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    font-weight: 700;
    margin-left: 200px;
    margin-top: 60px;
    text-align:left;
}

.third-para {
    margin-left: 100px;
}

.know-img {
    padding: 50px;
}

.know-more {
    font-size: 15px;
    font-weight: 510;
    color: white;
    padding: 15px;
    border-radius: 25px;
    background-color: #FF42A5;
    border: 0;
    margin-left: 690px;
    margin-bottom: 20px;
}
.third-para-02{
    margin-left: 300px;
    text-align: right;
    margin-right: 50px;
}
.fourth-title{
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
}
.forth-funny{
    background-image: linear-gradient(to right, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 45px;
    font-weight: 700;
    /* margin-left: 200px; */
    margin-top: 60px;
    text-align:left;
}
.fourth-para{
    text-align: center;
    margin-bottom: 50px;
}
.fourth-img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.fourth-img-01{
    margin-right: 20px;
}
.fourth-img-02{
    margin-right: 20px;
}
.fourth-img-03{
    margin-right: 20px;
}

.fourth-img-04{

}
